{% extends "bootstrap/base.html" %}
<html>
{% block title %}Flask Example TTTTTTTRRRRRRRRRYYYYYYYYYYY599999999999888888888{% endblock %}


{% block body %}

    {% block navbar %}
    <div class="navbar navbar-light" role="navigation" style="border-bottom-color: deepskyblue; background-color: ghostwhite">
            <div class="navbar-header pull-left">
                <a class="navbar-left" href="{{ url_for('index') }}" style="margin: 5px; margin-left: 30px">
                    <img src="static/logo.png" width="100.5" height="45">
                </a>
            </div>
            <div class="navbar-collapse collapse pull-right">
                <ul class="nav navbar-nav">
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('logout') }}">
                               <span class="glyphicon glyphicon-log-out" style="color: deepskyblue"></span>
                        </a>
                    {% endif %}
                     <a class="navbar-brand" href="{{ url_for('user') }}" style="align-content: left">
                        <span class="glyphicon glyphicon-user" style="color: deepskyblue"></span>
                     </a>
                     <a class="navbar-brand" href="{{ url_for('about') }}" style="align-content: left">
                        <span class="glyphicon glyphicon-info-sign" style="color: deepskyblue"></span>
                     </a>
                     <a class="navbar-brand" href="{{ url_for('about') }}" style="align-content: left">
                        <span class="glyphicon glyphicon-question-sign" style="color: deepskyblue"></span>
                     </a>
                </ul>
            </div>
    </div>
    {% endblock %}

    {% block content %}
        <div class="container">
            <div class="container">
                {% for category, message in get_flashed_messages(True) %}
                    <div class="alert alert-{{ category }}">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
            <div class="container">
                {% block myContent %}{% endblock %}
            </div>
        </div>
    {% endblock %}
{% endblock %}


</html>