{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block html %}


    {% block head %}
        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              xmlns="http://www.w3.org/1999/html">
        <!-- Our Custom CSS -->

        <!-- Scrollbar Custom CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">


    {% endblock %}


    {% block body %}

        {% block navbar %}
                {{ super() }}
        {% endblock %}

        {% block myContent %}
            <div class="container" style="padding-top: 100px; width: 400px; text-align: center">
                <a href="{{ url_for('loginuser') }}">
                 <div class="container" style="width:400px; padding: 10px; text-align: center; margin-top: 10px; background-color: deepskyblue">
                     <span class="glyphicon glyphicon-user" style="color: white"></span>
                     <font color="white"><font size="4"><font face="Gill sans MT"><b>You're a User</b></font></font></font>
                 </div>
                </a>
                <a href="{{ url_for('loginmate') }}">
                 <div class="container" style="width:400px; padding: 10px; text-align: center; margin-top: 10px; background-color: deepskyblue">
                     <span class="glyphicon glyphicon-user" style="color: white"></span>
                     <font color="white"><font size="4"><font face="Gill sans MT"><b>You're a Mate</b></font></font></font>
                 </div>
                </a>
            </div>
        {% endblock %}


    {% endblock %}
{% endblock %}
