{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% block title %}{{ current_user.username }}{% endblock %}

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- DatePicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.js">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link href="jquery-ui.css" rel="stylesheet">
       <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <style>

    div.row button {
        background-color: white;
        border-radius: 3px;
        color: #444;
        height: 35px;
        border-color: dodgerblue;
    }

    .custom-dropdown--large {
        font-size: 1.5em;

    }

    .custom-dropdown--small {
        font-size: .7em;
    }

    .custom-dropdown__select{
        font-size: inherit; /* inherit size from .custom-dropdown */
        padding: .5em; /* add some space*/
        margin: 0; /* remove default margins */
        border-color: deepskyblue;
        border-radius: 3px;
    }

    .custom-dropdown__select--white {
        background-color: white;
        color: #444;
        border-color: deepskyblue;
        border-radius: 3px;
    }

    @supports (pointer-events: none) and
          ((-webkit-appearance: none) or
          (-moz-appearance: none) or
          (appearance: none)) {

        .custom-dropdown {
            position: relative;
            display: inline-block;
            vertical-align: middle;
        }

        .custom-dropdown__select {
            padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */
            border: 10px;
            border-radius: 3px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-color: deepskyblue;
        }

        .custom-dropdown::before,
        .custom-dropdown::after {
            content: "";
            position: absolute;
            pointer-events: none;
        }

        .custom-dropdown::after { /*  Custom dropdown arrow */
            content: "\25BC";
            height: 1em;
            font-size: .625em;
            line-height: 1;
            right: 1.2em;
            top: 50%; margin-top: -.5em;
        }

        .custom-dropdown::before { /*  Custom dropdown arrow cover */
            width: 2em;
            right: 0; top: 0; bottom: 0;
            border-radius: 0 3px 3px 0;

        }

        .custom-dropdown__select[disabled] {
            color: rgba(0,0,0,.3);
            border-color: deepskyblue;
            border-radius: 3px;
        }

        .custom-dropdown.custom-dropdown--disabled::after {
            color: rgba(0,0,0,.1);
        }

        /* White dropdown style */
        .custom-dropdown--white::before {
            top: .5em; bottom: .5em;
            background-color: #fff;
            border-left: 1px solid rgba(0,0,0,.1);

        }

        .custom-dropdown--white::after {
            color: rgba(0,0,0,.9);
        }

        /* FF only temp fix */
        @-moz-document url-prefix() {
            .custom-dropdown__select              { padding-right: .9em }
            .custom-dropdown--large .custom-dropdown__select { padding-right: 1.3em }
            .custom-dropdown--small .custom-dropdown__select { padding-right: .5em }
        }
    }

    </style>

{% endblock %}
{% block body %}
    {% block navbar %}
        {{ super() }}

    {% endblock %}

    <div class="wrapper">
        <!-- Page Content Holder -->
        <div id="content">
            <div class="row" style="margin-top:100px;">
                <a style="width: 100%; height:4cm; background-color: white;  position:fixed">
                    {%  if current_user.role.name=="User" %}

                        <h1 style="text-align: center;  resize: both;  "><font face="Gill sans MT"><font size="8"> Services you created </font></font></h1>

                    {% elif current_user.role.name=="Mate" %}

                        <h1 style="text-align: center;  resize: both;  "><font face="Gill sans MT"><font size="8">Services your are mate for </font></font></h1>

                    {% endif %}
                </a>
            </div>

            </div>
            <div class="row" style="margin-top: 6cm">
                <table class="table table-responsive    ">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Type of Service</th>
                        <th scope="col">Name</th>
                        <th scope="col">City</th>
                        <th scope="col">Date</th>
                        <th scope="col">Remuneration</th>
                        <th scope="col">Username</th>
                        <th scope="col">Service state</th>
                        <th>Apply</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    {% for i in res %}
                        <tr>
                              <th scope="row"></th>
                                    <td>{{ i.servicetype}}</td>
                                    <td>{{ i.servicename}}</td>
                                    <td>{{ i.servicecity}}</td>
                                    <td>{{ i.servicedate }}</td>
                                    <td>15€ the service</td>
                                    <td>{{i.user.username }}</td>
                                    {% if i.servicestate==1%}
                                        <td> Waiting for mate request</td>
                                        <td><a href="{{ url_for('servicepageuser', idservice=i.id, _external=True) }}" class="download"><font color=#1e90ff>See your service</font></a></td>
                                    {% elif i.servicestate==2 %}
                                        <td> Mate(s) have already applied / waiting for user answer </td>
                                        <td><a href="{{ url_for('servicepageuser', idservice=i.id, _external=True) }}" class="download"><font color=#1e90ff>Pick Your Mate!</font></a></td>
                                    {% elif i.servicestate==3 or i.servicestate==4 or i.servicestate==5  %}
                                        <td> Waiting for closing the service  </td>
                                        {% if current_user.roleuser.name=="User"%}
                                            <td><a href="{{ url_for('feedbackuser', idservice=i.id, _external=True) }}" class="download"><font color=#1e90ff> Close the service</font></a></td>
                                            <td> {{ i.mate.username }} is your mate <br> Contact him: {{ i.mate.phone_number }} </td>
                                        {% elif current_user.roleuser.name=="Mate"%}
                                            <td><a href="{{ url_for('feedbackmate', idservice=i.id, _external=True) }}" class="download"><font color=#1e90ff> Close the service</font></a></td>
                                            <td> {{ i.user.username }} is your mate <br> Contact him: {{ i.user.phone_number }} </td>
                                        {% endif %}
                                    {%  endif  %}

                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>
     <script type="text/javascript">


    $(function() {
    $( "#datepicker" ).datepicker({
    altField: "#datepicker",
    closeText: 'Fermer',
    prevText: 'Précédent',
    nextText: 'Suivant',
    currentText: 'Aujourd\'hui',
    monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
    monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
    dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
    dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
    dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
    weekHeader: 'Sem.',
    dateFormat: 'yy-mm-dd'
    });
    });
     </script>
{% endblock %}