{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% block title %}{{ current_user.username }}{% endblock %}

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- DatePicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.js">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link href="jquery-ui.css" rel="stylesheet">
       <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <style>

    div.row button {
        background-color: white;
        border-radius: 3px;
        color: #444;
        height: 35px;
        border-color: dodgerblue;
    }

    .custom-dropdown--large {
        font-size: 1.5em;

    }

    .custom-dropdown--small {
        font-size: .7em;
    }

    .custom-dropdown__select{
        font-size: inherit; /* inherit size from .custom-dropdown */
        padding: .5em; /* add some space*/
        margin: 0; /* remove default margins */
        border-color: deepskyblue;
        border-radius: 3px;
    }

    .custom-dropdown__select--white {
        background-color: white;
        color: #444;
        border-color: deepskyblue;
        border-radius: 3px;
    }

    @supports (pointer-events: none) and
          ((-webkit-appearance: none) or
          (-moz-appearance: none) or
          (appearance: none)) {

        .custom-dropdown {
            position: relative;
            display: inline-block;
            vertical-align: middle;
        }

        .custom-dropdown__select {
            padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */
            border: 10px;
            border-radius: 3px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-color: deepskyblue;
        }

        .custom-dropdown::before,
        .custom-dropdown::after {
            content: "";
            position: absolute;
            pointer-events: none;
        }

        .custom-dropdown::after { /*  Custom dropdown arrow */
            content: "\25BC";
            height: 1em;
            font-size: .625em;
            line-height: 1;
            right: 1.2em;
            top: 50%; margin-top: -.5em;
        }

        .custom-dropdown::before { /*  Custom dropdown arrow cover */
            width: 2em;
            right: 0; top: 0; bottom: 0;
            border-radius: 0 3px 3px 0;

        }

        .custom-dropdown__select[disabled] {
            color: rgba(0,0,0,.3);
            border-color: deepskyblue;
            border-radius: 3px;
        }

        .custom-dropdown.custom-dropdown--disabled::after {
            color: rgba(0,0,0,.1);
        }

        /* White dropdown style */
        .custom-dropdown--white::before {
            top: .5em; bottom: .5em;
            background-color: #fff;
            border-left: 1px solid rgba(0,0,0,.1);

        }

        .custom-dropdown--white::after {
            color: rgba(0,0,0,.9);
        }

        /* FF only temp fix */
        @-moz-document url-prefix() {
            .custom-dropdown__select              { padding-right: .9em }
            .custom-dropdown--large .custom-dropdown__select { padding-right: 1.3em }
            .custom-dropdown--small .custom-dropdown__select { padding-right: .5em }
        }
    }

    </style>

{% endblock %}
{% block myContent %}
        <div style="margin-top: 55px">
            <div class="container" style="height: 80px; padding: 10px">
                <h1>Services to be supplied</h1>
            </div>
            <div class="conainer" style="margin-top: 30px; background-color: #444444">
                <form  method=post >
                    {{ form.csrf_token }}
                    {{ form.hidden_tag() }}
                    <div class="row" style="height:3cm; width: 100%; text-align: center; background-color: skyblue; padding-top: 20px">
                        <div class="col-lg-2 col-lg-offset-1">
                            <span>
                                {{ form.servicetype.label }} {{ form.servicetype(class="custom-dropdown__select", style="width: 200px" )}}
                            </span>
                        </div>
                        <div class="col-lg-2">
                            {{ form.servicename.label }} {{ form.servicename(class="form-control") }}
                        </div>
                        <div class="col-lg-2">
                            {{ form.servicecity.label }} {{ form.servicecity(class="form-control") }}
                        </div>
                        <div class='col-lg-3 col-lg-offset-1" '>
                            {{ form.servicedate.label }} {{ form.servicedate(class="form-control") }}
                        </div>
                        <div style="padding: 29px">
                            <input type="submit" class="col-lg-1">
                            </input>
                        </div>
                    </div>
                </form>
            </div>
            <div class="container" style=" margin-top: 30px; padding: 20px; text-align: center">
                <table class="table table-responsive    ">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Type of Service</th>
                        <th scope="col">Name</th>
                        <th scope="col">City</th>
                        <th scope="col">Date</th>
                        <th scope="col">Beginning Hour</th>
                        <th scope="col">Estimated time</th>
                        <th scope="col">Username</th>
                        <th scope="col">State</th>
                        <th>Apply</th>
                        {% if current_user.roleuser.name=="User" %}
                                <th></th>
                        {%  endif  %}
                    </tr>
                </thead>
                <tbody>
                    {% for i in res %}
                        <tr>
                              <th scope="row"></th>
                                    <td> {{ i.servicetype}} </td>
                                    <td>{{ i.servicename}}</td>
                                    <td>{{ i.servicecity}}</td>
                                    <td>{{ i.servicedate }}</td>
                                    <td>{{ i.servicebeg.strftime('%H:%M') }}</td>
                                    <td>{{ i.servicetime }}</td>
                                    <td>{{i.user.username }}</td>
                                    {% if i.servicestate==1%}
                                        <td> Waiting for mate request</td>
                                    {% elif i.servicestate==2 %}
                                        <td> Mate(s) have already applied / waiting for user answer</td>
                                    {%  endif  %}

                                    {% if current_user.roleuser.name=="Mate" %}

                                        {% if i not in current_user.servicerequest %}
                                            <th>
                                                <ul class="list-unstyled CTAs">
                                                <li><a href="{{ url_for('servicepage', idservice=i.id, idserviceuser=i.user.id, _external=True) }}" class="download"><font color=#1e90ff>Propose your help</font></a></li>
                                                </ul>
                                            </th>
                                        {% else %}
                                            <th>
                                                <ul class="list-unstyled CTAs">
                                                <li>You've already applied</li>
                                                </ul>
                                            </th>
                                        {% endif %}
                                    {% else %}
                                        {% if i.user_id==current_user.id%}
                                            <td><a href="{{ url_for('servicepageuser', idservice=i.id, idserviceuser=current_user.id, _external=True) }}" class="download"><font color=#1e90ff>See your service</font></a></td>
                                        {% endif %}
                                    {% endif %}

                                    {% if  current_user.id==i.user.id %}
                                        <th>
                                            <ul class="list-unstyled CTAs">
                                                <li><a href="{{ url_for('deleteservice', idservice=i.id,  _external=True) }}" class="download"><font color=#1e90ff>Delete your service</font></a></li>
                                            </ul>
                                        </th>
                                    {%  endif  %}

                        </tr>

                    {% endfor %}
                </tbody>
                </table>
                <img src="{{ url_for('static', filename='landscape.png') }}" style="width: 800px; height: 240px">
            </div>
        </div>


    <script type="text/javascript">
    $(function() {
    $( "#datepicker" ).datepicker({
    altField: "#datepicker",
    closeText: 'Fermer',
    prevText: 'Précédent',
    nextText: 'Suivant',
    currentText: 'Aujourd\'hui',
    monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
    monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
    dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
    dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
    dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
    weekHeader: 'Sem.',
    dateFormat: 'yy-mm-dd'
    });
    });
     </script>
{% endblock %}