{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Our Custom CSS -->

    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <style>
        .row.vdivide [class*='col-']:not(:last-child):after {
          background: #e0e0e0;
          width: 1px;
          content: "";
          display:block;
          position: absolute;
          top:0;
          bottom: 0;
          right: 0;
          min-height: 70px;
        }
    </style>

{% endblock %}

{% block myContent %}

<div class="row vdivide">
    <div class="col-lg-6" style="height: 100%; text-align: center; padding: 30px; margin-top: 55px">
        {% if service.servicetype == "ht"%}
            <img src="static/logo_ht.png" style="width: 200px; height: 200px;">
        {% elif service.servicetype == "st"%}
            <img src="static/logo_st.png" style="width: 200px; height: 200px;">
        {% elif service.servicetype == "cf"%}
            <img src="static/logo_cf.png" style="width: 200px; height: 200px;">
        {% else %}
            <img src="static/logo_other.png" style="width: 200px; height: 200px;">
        {% endif %}
        <p><font size="5"><br>{{ service.servicename }}</font></p>
        <p><font size="2"><br>{{ service.servicedate }}</font></p>
        <p><font size="3">{{ service.servicecity }}</font></p>
        <p><font size="2"><br>Description</font></p>
        <p>{{ service.servicedescription }}</p>
        <div class="col-lg-6 col-lg-offset-3" style="background-color: deepskyblue; border-radius: 100px">
            <a href="{{ url_for('addrequest', idservice=service.id, idservicerequester=current_user.id, _external=True) }}" class="download"><font color=white>Propose your help</font></a></li>
        </div>
    </div>
    <div class="col-lg-6">

    </div>
</div>
{% endblock %}
