f{% extends "base.html" %}

{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% block title %}{{ current_user.username }}{% endblock %}

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Our Custom CSS -->

    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

{% endblock %}

{% block myContent %}
    <div class="row" style="margin-top: -20px">
        <div class="col-lg-3" style="color: white; text-align: center; padding: 30px; {% if current_user.role.name=="User" %}background-color: dodgerblue{% elif current_user.role.name=="Mate" %}background-color: orange {% endif %}">
            {% if current_user.role.name=="User" %}
                <img src="{{ url_for('static', filename='logo_unknown.png') }}" style="width: 150px; height: 150px;">
            {% elif current_user.role.name=="Mate" %}
                <img src="{{ url_for('static', filename='logo_mate.png') }}" style="width: 150px; height: 150px;">
            {% endif %}
            <h3>{{ current_user.username }}</h3>
            <hr>
            <h3>General Information</h3>
            <p>First name: {{ current_user.first_name }}</p>
            <p>Last name:{{ current_user.last_name }}</p>
            <p>Date of birth: {{ (current_user.birthdate).strftime("%d/%m/%Y") }}</p>
            <hr>
            <h3>Contact Information</h3>
            <p> Address: {{ current_user.address }} </p>
            <p> Phone number: {{ current_user.phone_number }}</p>
            <p> Mail: {{ current_user.mail }} </p>
            <hr>
            <a class="download col-lg-10 col-lg-offset-1 container" style="background-color: white; height: 30px; padding:  5px; margin-top: 10px; border-radius: 5px" href="{{ url_for('modifyinformation') }}"><font {% if current_user.role.name=="User" %}color=#1e90ff{% elif current_user.role.name=="Mate" %}color=orange{% endif %}>Modify your information</font></a>
        </div>
        <div class="col-lg-9" style="text-align: center; margin-left: -15px">
            <div>
                <img src="{{ url_for('static', filename='cover.png') }}" style="width: 1000px; height: 285px">
            </div>
            <div class="row" style="padding: 15px">
                <a class="col-lg-3" href="{{ url_for('listservice') }}" style="background-color: white;">
                    <button  type="button" class="btn btn-default center-block">
                        <i class="glyphicon glyphicon-list"></i>
                        Service existing list
                    </button>
                </a>
                <a class="col-lg-3 col-lg-offset-1" href="{{ url_for('listserviceuser') }}" style="background-color: white;">
                    <button  type="button" class="btn btn-default center-block">
                        <i class="glyphicon glyphicon-cog"></i>
                        See your work-in progress services
                    </button>
                </a>

                {% if current_user.role.name=="User" %}

                    <a class="col-lg-3 col-lg-offset-1" href="{{ url_for('createservice') }}" style="background-color: white">
                        <button  type="button" class="btn btn-default center-block">
                            <i class="glyphicon glyphicon-pencil"></i>
                            Create a service
                        </button>
                    </a>
                {% endif %}
            </div>
            <hr>
            <div style="padding: 20px">
                <table class="table table-responsive">
                <thead>
                    <tr>
                        <th scope="col">Type of Service</th>
                        <th scope="col">Name</th>
                        <th scope="col">City</th>
                        <th scope="col">Date</th>
                        <th scope="col">Estimated time</th>
                        {% if current_user.role.name=="User" %}
                            <th scope="col"> The Mate </th>
                        {% elif current_user.role.name=="Mate": %}
                            <th scope="col">The User </th>
                        {% endif %}
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in res %}
                        <tr>
                            <td>
                                {% if i.servicetype=="ht" %}
                                    Home Task
                                {% elif i.servicetype=="st" %}
                                    Shopping Task
                                {% elif i.servicetype=="is" %}
                                    Informatic Service

                                {% elif i.servicetype=="lt" %}
                                    Leisure Time

                                {% endif %}

                            </td>
                            <td>{{ i.servicename}}</td>
                            <td>{{ i.servicecity}}</td>
                            <td>{{ i.servicedate }}</td>
                            <td>{{ i.servicetime }}</td>
                            {% if current_user.role.name=="User" %}
                                <td>{{i.user.username }}</td>
                            {% elif current_user.role.name=="Mate": %}
                                <td>{{i.mate.username }}</td>
                            {% endif %}

                            <td> <a href="{{ url_for('servicepageend', idservice=i.id, idserviceuser=i.user.id, _external=True) }}">See your services</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}