<div><font  style=" font-size: 1cm;"> Dear <font  style="color:dodgerblue; font-size: 1cm;">{{current_user.username }}</font>,</font></div>

<div>
You have successfully <font  style="color:dodgerblue;"> updated </font>  your profile.

Your new personal data are :
    - first name : <font  style=" color:dodgerblue; font-size: 0.6cm;"> {{current_user.first_name}}  </font>
- last name : {{current_user.last_name}}
- phone number : {{current_user.phone_number}}
- email address : {{current_user.mail}}
- address : {{current_user.address}}
- birthdate : {{current_user.birthdate}}

</div>

Sincerely,

The Mate team

Note: This email was automatically sent. Do not respond to it.